.botao {
    background-color: #24c0eb;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 32px;
    border: none;
    cursor: pointer;
    color: #FFF;
    margin: 32px 0;
    width: 100%;
    text-transform: uppercase;
    transition: 1s;

    @media (max-width:768px) {
        font-size: 16px;
        padding: 13px;
    }
}

.botao:hover {
    transform: scale(1.05);
    transition: 0.5s;
    background-color: #FFF;
    color: #24c0eb;
    border: 1px solid #24c0eb;

    @media (max-width:768px) {
        transform: scale(1.04);
    }
}