.formulario {
    display: flex;
    justify-content: center;
    margin: 80px 0;

    @media (max-width:768px) {
        margin: 30px 0;
    }
}

.formulario form {
    max-width: 80%;
    background-color: #eee8e8;
    border-radius: 20px;
    padding: 36px 64px;
    box-shadow: 0px 0px 16px rgba(0,0,0, 0.08);

    @media (max-width:768px) {
        max-width: 70%;
        padding: 10px 20px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.178);
    }
}

.formulario h2{
    color: #24c0eb;

    @media (max-width:768px) {
        font-size: 18px;
        text-align: center;
    }
}